.gate__save-button_disabled {
    cursor: default; 
    background-color: transparent; 
    border: 1px solid #000; 
    color: #000; 
    opacity: 0.2; 
}

.gate__save-button_disabled:hover {
    opacity: 0.2;
}