.gallery__like {
    min-width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-color: #fff;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    cursor: pointer;
    transition: opacity 0.5s ease;
}

.gallery__like:hover {
    opacity: 0.5;
}