.form__set {
    display: flex;
    flex-direction: column;
    border: 0;
    margin: 34px 0 0;
    padding: 0;
}

@media screen and (max-width: 620px) {
    .form__set {
        margin-top: 68px;
    }
}