@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name-block/profile__name-block.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__about/profile__about.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__gallery-add-button/profile__gallery-add-button.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/gallery/__item/gallery__item.css);
@import url(./blocks/gallery/__img/gallery__img.css);
@import url(./blocks/gallery/__place/gallery__place.css);
@import url(./blocks/gallery/__heading/gallery__heading.css);
@import url(./blocks/gallery/__like-block/gallery__like-block.css);
@import url(./blocks/gallery/__like/gallery__like.css);
@import url(./blocks/gallery/__like/_active/gallery__like_active.css);
@import url(./blocks/gallery/__like-counter/gallery__like-counter.css);
@import url(./blocks/gallery/__trash/gallery__trash.css);
@import url(./blocks/gallery/__trash/_hidden/gallery__trash_hidden.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/_big-picture/popup_big-picture.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__img-heading/popup__img-heading.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__photo-container/popup__photo-container.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__heading/form__heading.css);
@import url(./blocks/form/__set/form__set.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__message-error/form__message-error.css);
@import url(./blocks/form/__save-button/form__save-button.css);
@import url(./blocks/form/__save-button/_disabled/form__save-button_disabled.css);
@import url(./blocks/loader/loader.css);
